<?xml version="1.0" encoding="windows-1251"?>
<module>
    <version>1.1</version>
    <name>Яндекс.Турбо</name>
    <description>Модуль продаж через Яндекс Турбо-страницы.</description>
    <faqlink>https://docs.phpshop.ru/moduli/yandeks/yandex-turbo</faqlink>
    <category>yandex,pro</category>
    <sign>1644562975</sign>
    <pro>true</pro>
    <adminmenu>
        <title>Яндекс.Турбо</title>
        <capability>true</capability>
        <podmenu>
            <podmenu_name>Журнал операций</podmenu_name>
            <podmenu_action>dir.yandexturbo</podmenu_action>
        </podmenu>
    </adminmenu>
</module>