.okpoints {
	border-left: 4px solid rgba(181, 229, 173, 1);
	padding: 15px 15px;
	margin-top: 15px;
	background: rgba(247, 255, 253, 1);
	color:#2e2e2e;
	font-size: 13px;
	height: 123px;
}
.okpoints input {
	display:inline;height:auto;outline:none;font-size:12px;
	border:none;color:#878787;border-width:auto;margin:0 0 10px;
}

.text-okpoints {

}
.points-info-okpoints {

}
.input-okpoints {
	margin-top: 15px;
	font-size: 13px;
	color:#2e2e2e;
	border-top:1px solid #e8e8e8;
	padding-top: 18px;
	padding-left: 18px;
}
.true-okp {
	display: none;
	margin-left: -19px;
}
.load-okp {
	display: none;
	margin-right: 5px;
	margin-left: -21px;
}
.ajax-info {
	display: none;
	height: 64px;
}
#points-trat {
	border: 1px solid #808080 !important;
	width: 50px;
	padding: 2px;
	text-align: center;
}