<?xml version="1.0" encoding="windows-1251"?>
<module>
    <version>2.4</version>
    <name>Tinkoff</name>
    <description>Прием оплат через Tinkoff.</description>
    <category>payment</category>
    <sign>1714990891</sign>
    <faqlink>https://docs.phpshop.ru/moduli/platezhnye-sistemy/tinkoff</faqlink>
    <adminmenu>
        <title>Прием оплат Tinkoff</title>
        <capability>true</capability>
         <podmenu>
             <podmenu_name>Журнал операций</podmenu_name>
             <podmenu_action>dir.tinkoff</podmenu_action>
         </podmenu>
    </adminmenu>
</module>