<?xml version="1.0" encoding="windows-1251"?>
<module>
    <version>1.3</version>
    <name>Умный поиск</name>
    <description>Умный поиск и фильтр с использованием облачного кеширования данных.</description>
    <faqlink>https://docs.phpshop.ru/moduli/prodazhi/umniy-poisk-elastica</faqlink>
    <category>sale</category>
    <adminmenu>
        <title>Умный поиск</title>
        <capability>true</capability>
    </adminmenu>
    <status>Hit</status>
</module>