<?xml version="1.0" encoding="windows-1251"?>
<module>
    <version>1.1</version>
    <name>Генерация превью картинок</name>
    <faqlink>https://docs.phpshop.ru/moduli/dizain/thumbnail</faqlink>
    <description>Генерация новых превью картинок товаров с учетом формата сжатия Webp. </description>
    <category>template,pro</category>
    <sign>1669014524</sign>
    <adminmenu>
        <title>Генерация превью картинок</title>
        <capability>true</capability>
    </adminmenu>
</module>