<?xml version="1.0" encoding="windows-1251"?>
<module>
    <version>1.0</version>
    <name>Ozon Rocket</name>
    <description>Виджет расчета доставки Ozon Rocket</description>
    <category>delivery</category>
    <status>new</status>
    <sign>1634543879</sign>
    <faqlink>https://docs.phpshop.ru/moduli/dostavka/ozon-rocket</faqlink>
    <adminmenu>
        <title>Ozon Rocket</title>
        <capability>true</capability>
        <podmenu>
            <podmenu_name>Журнал операций</podmenu_name>
            <podmenu_action>dir.ozonrocket</podmenu_action>
        </podmenu>
    </adminmenu>
</module>